@import "./navbar.css";
@import "./core.css";
@import "./section.css";
@import "./hero_section.css";
@import "./skills-section.css";
@import "./services-section.css";
@import "./projects-section.css";
@import "./contact-section.css";
@import "./footer.css";

